<%= form_with model: @pan, local: true do |form| %>

  <% if @pan.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@pan.errors.count, "error") %> prohibited
        this item from being saved:
      </h2>
      <ul>
        <% @pan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
