<center>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
  background-image: url(../banaanit.jpeg);
  /* colour was for when I was testing why background image wasn't working */
  /* background-color: #00FFFF; */
  /* size was before I figured out that 'cover' works */
  /* background-size: 1411px 1058px; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  position: relative;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
/* This next section will apply the same styling to all links: */
a:link, a:visited {
  /* button colour (black) with transparency: */
/* background-color: rgba(0, 0, 0, 0.3); */
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
  opacity: 0.5;
}

</style>
</head>
<body>

<!-- <img src="../banaanit.jpeg" style="width:100%;"> -->
  <div class="centered">
<br>
<br>
    <h1>Tarvikelista</h1>

    <%= link_to 'Lis채채 uusi tarvike', new_pan_path %>

    <table>
      <tr>
        <th>Tarvike</th>
        <th>Hinta</th>
      </tr>
      <% @pans.each do |pan| %>
        <tr>
          <td><%= pan.title %></td>
          <td><%= pan.text %></td>

          <td><%= link_to 'N채yt채', pan_path(pan) %></td>
          <td><%= link_to 'Editoi', edit_pan_path(pan) %></td>
          <td><%= link_to 'Poista', pan_path(pan),
                  method: :delete,
                  data: { confirm: 'Oletko varma?' } %></td>

        </tr>

      <% end %>

    </table>
    <!-- <h3> Block here, adding text values together </h3> -->

    <%= link_to 'Takaisin kotisivulle', tervetuloa_index_path, style: "color: white;" %>

<br>
<br>
<!-- <img src="../kuja.jpeg" style="width:1411px;height:1058px;"> -->
</div>
</body>
