<center>
<h1>Tarvikelista</h1>

<%= link_to 'Lis채채 uusi tarvike', new_pan_path %>

<table>
  <tr>
    <th>Tarvike</th>
    <th>Hinta</th>
    <th></th>
  </tr>

  <% @pans.each do |pan| %>
    <tr>
      <td><%= pan.title %></td>
      <td><%= pan.text %></td>
      <br>
      <td><%= link_to 'N채yt채', pan_path(pan) %></td>
      <td><%= link_to 'Editoi', edit_pan_path(pan) %></td>
      <td><%= link_to 'Poista', pan_path(pan),
              method: :delete,
              data: { confirm: 'Oletko varma?' } %></td>
    </tr>
  <% end %>
</table>
<br>

<%= link_to 'Takaisin kotisivulle', tervetuloa_index_path %>
